@import url('../../assets/fonts/transandina/');
@import url('../../assets/fonts/usual/');

._Home {
    padding: 80px 30px;
    text-align: center;
    box-sizing: border-box;

    h1 {
        font-family: 'transandina';
    }
}