@import url('../../assets/fonts/transandina/');
@import url('../../assets/fonts/usual/');

._Home {
    padding: 80px 30px;
    text-align: center;
    box-sizing: border-box;

    h1 {
        font-family: 'transandina';
    }

    .prefill-form {
        width: 100%;
        max-width: 600px;
        margin: 40px auto 0;
    }

    .event-code-preview {
        font-size: 13px;
        font-weight: 600;
    }
}