@import url('../../assets/fonts/usual/');
@import url('../../assets/fonts/transandina/');

._Form {
    display: flex;

    h2:not(:first-child) {
        margin-top: 56px;
    }

    .constant-area {
        width: 100%;
        max-width: 400px;
        flex-grow: 1;

        .constant-control-container {
            padding: 28px 20px;
            background-color: #D0CDFC;
            border-radius: 16px;
            margin: 0 24px;
        }
    }
    .form-area {
        width: 100%;
        overflow-y: scroll;
    }
    .team-name {
        display: block;
        font-size: 12px;
        margin-bottom: 18px;
        font-weight: 500;
    }

    .mobile-submit-button {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    ._Form {
        flex-direction: column;
        overflow-y: scroll;

        .constant-area {
            max-width: unset;

            ._Button {
                max-width: 250px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .form-area {
            overflow-y: unset;
            padding: 0 24px 40px;
            box-sizing: border-box;

            ._GameDataSection {
                padding: 0;
            }
        }

        .desktop-submit-button {
            display: none;
        }

        .mobile-submit-button {
            display: block;
        }
    }
}