@import url('../../assets/fonts/usual');

._Input {
    width: 100%;
    display: flex;
    margin-bottom: 18px;

    label {
        width: 100%;
        flex-grow: .6;
        margin-right: 10px;
    }

    .input-area {
        display: flex;
        width: 100%;
        flex-grow: .4;

        .text-box {
            width: 100%;
            max-width: 200px;
            height: 19px;
            padding: 3px;
            margin: auto 0;
            border-radius: 8px;
            border-style: solid;
            border-color: #888;
            border-width: 2px;
            transition: border-color .15s, background-color .15s;
            outline: none;
            font-family: 'usual';
            font-weight: 500;
            font-size: 14px;
        }
        .input[type=checkbox] {
            width: 19px;
        }
        .input.warning {
            outline: #c11 solid 3px;
            border-color: #c11;
            background-color: #fdd;
        }
        .text-box.dropdown-box {
            height: 29px;
            background-color: white;
        }
        .text-box:focus, .text-box.dropdown-box:focus {
            border-color: #4941B1;
            background-color: #F2F1FF;
        }
        ._Spinner {
            flex-shrink: 0;
            flex-grow: 0;
            padding-left: 8px;
        }
    }

    &.flood-label {
        label {
            flex-grow: 1;
        }
        .input-area {
            flex-grow: 0;
            width: unset;
            margin-left: auto;
        }
    }
}