._PlayoffHelper {
    overflow-y: auto;
    box-sizing: border-box;
    
    .content-area {
        padding: 0 0 0 32px;
        box-sizing: border-box;
        width: 100%;
    }

    ._RankingInput {
        padding-right: 32px;
        h2 {
            margin-top: 0;
        }

        .submission-buttons {
            text-align: center;
            ._Button {
                display: inline-block;
                margin: 12px 8px;
            }
        }
        .horizontal-line {
            width: 100%;
            height: 1px;
            margin: 32px 0;
            background-color: rgba(0,0,0,0.3);
        }

        .input-area.inactive {
            opacity: 0.5;
        }
    }

    ._AllianceRow {
        display: flex;
        width: 100%;
        gap: 10px;

        .alliance-labels {
            display: flex;
            flex-direction: column;
            padding-top: 25px;
            margin-right: 8px;

            .ranking {
                font-family: 'industry';
                font-weight: 700;
                font-size: 28px;
                margin-bottom: 6px;
            }
            .rpi {
                font-family: 'industry';
                font-weight: 600;
                font-size: 20px;
            }
            .rpi-label {
                font-family: 'transandina';
                font-weight: 400;
                font-size: 15px;
                white-space: nowrap;
            }
        }
        .alliance-container {
            display: flex;
            width: 100%;
            min-width: 0;
        }
        .alliance-teams {
            width: 100%;
            min-width: 0;
            overflow-x: auto;
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
        .alliance-teams.on-clock {
            padding: 0 16px;
        }
    }    

    ._LiveDraft {
        width: 100%;
        
        .alliance-list {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}