@import url('../../../assets/fonts/transandina/');
@import url('../../../assets/fonts/usual/');
@import url('../../../assets/fonts/industry/');

._ViewIndividualData {
    .data-row {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        .row-label {
            font-family: 'transandina';
            font-size: 20px;
            font-weight: 600;
            flex-basis: 33.333%;
        }
        .row-contents {
            font-family: 'usual';
            font-size: 15px;
            flex-basis: 66.666%;
            flex-shrink: 0;

            .content-cell {
                display: inline-block;
                flex-direction: column;
                margin-right: 10%;
                .cell-data {
                    font-family: 'industry';
                    font-size: 24px;
                    font-weight: 500;
                }
                .cell-label {
                    font-family: 'transandina';
                    font-size: 15px;
                }
            }
            .flag-area {
                color: #B14141;
                font-family: 'usual';
                font-weight: 600;
                .individual-flag:not(.individual-flag:first-child) {
                    margin-left: 10px;
                }
            }
            .icon {
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                filter: invert(27%) sepia(16%) saturate(6307%) hue-rotate(333deg) brightness(100%) contrast(80%);
                display: inline-block;
                vertical-align: center;
                width: 14px;
                height: 14px;
            }
            .commentary {
                color: #777;
                font-family: 'usual';
                font-size: 14px;
                margin-top: 12px;
            }
        }
    }
    .data-row.cell-related {
        align-items: flex-start;  // may need adjustment later
    }
}