@import url('../../assets/fonts/transandina/');
@import url('../../assets/fonts/industry/');
@import url('../../assets/fonts/usual/');

._ViewTeam {
    padding: 32px 32px 16px;
    box-sizing: border-box;
    overflow-y: scroll;
    
    h1.team-number {
        font-family: 'industry';
        margin: 0;
        font-size: 64px;
    }
    h2.team-name {
        font-size: 26px;
        font-weight: 600;
        margin-top: 4px;
    }
    h2 {
        font-size: 26px;
        font-weight: 400;
    }

    .info-cell {
        display: inline-block;
        min-width: 120px;
        margin-right: 3px;
        .info-value {
            font-family: 'industry';
            font-size: 32px;
        }
        .info-value.rpi-number {
            font-weight: 700;
        }
        .info-label {
            font-family: 'trasandina';
            font-size: 15px;
        }
    }
    

    .column-area {
        width: 100%;
        display: flex;
        .column-section {
            width: 50%;
            .chart-container {
                position: relative;
                width: 100%;
                height: 280px;
            }
        }
    }
    .non-chart-area {
        margin: 10px 10px 0 18px;
    }

    .text-row {
        display: flex;
        min-height: 30px;
        .label, .value {
            width: 50%;
            margin: auto 0;
            font-size: 18px;
        }
        .label {
            font-family: 'trasandina';
            font-weight: 300;
        }
        .value {
            text-align: right;
            margin-right: auto;
            font-family: 'trasandina';
            font-weight: 600;
        }
    }
}

._MatchData {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #EBEAFC;
    border-radius: 16px;
    margin-bottom: 24px;
    .match-column-area {
        display: flex;
        .match-info-column {
            width: 100%;
            display: flex;
            flex-direction: column;
            .match-info-row {
                min-height: 28px;
                position: relative;
                .match-cell-content {
                    top: 50%;
                    position: relative;
                    transform: translateY(-50%);
                    display: block;
                }
            }
            .match-info-row.first {
                font-family: 'trasandina';
                font-size: 20px;
                font-weight: 500;
            }
            .match-info-row.second {
                font-family: 'trasandina';
                font-size: 16px;
            }
            .match-info-row.third {
                font-family: 'usual';
                color: #444;
                font-size: 11px;
                font-weight: 200;
            }
        }
        .match-info-column.third {
            text-align: right;
        }
    }

    // Stuff for showing/hiding
    .match-info-row .match-cell-content.see-more {
        font-weight: 600;
        color: #4941B1;
        font-size: 13px;
        cursor: pointer;
        user-select: none;
        transition: color .15s;
    }
    .match-info-row .match-cell-content.see-more:hover {
        color: #8F89E7;
    }
    .match-details.hidden-area {
        max-height: 0;
        opacity: 0;
    }
    .match-details {
        overflow: hidden;
        transition: max-height .25s, opacity .3s;
        opacity: 1;
        max-height: 500px;  // may need adjustment
        
        h3 {
            font-family: 'trasandina';
            font-weight: 300;
            font-size: 24px;
        }
    }
}