@import url('../../assets/fonts/transandina/');
@import url('../../assets/fonts/usual/');

._ManageData {
    overflow-y: auto;

    .content-area {
        box-sizing: border-box;
        padding: 0 32px;

        .control-area {
            display: flex;
            gap: 32px;
            margin-bottom: 50px;
            .cell {
                width: 100%;
            }
            .cell.explanation {
                max-width: 550px;
                p {
                    margin: 0;
                }
            }
            .file-input {
                font-family: 'usual';
                font-size: 15px;
                font-weight: 500;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    ._ManageData {
        .control-area {
            flex-direction: column;
        }
    }
}