@import url('../../assets/fonts/transandina/');
@import url('../../assets/fonts/usual/');
@import url('../../assets/fonts/industry/');

#app-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
}
#content-container {
    width: 100%;
    flex-grow: 1;
}
#navigation-bar {
    display: flex;
    flex-direction: column;
    background: #4941B1;
    color: #FFF;
    width: 100%;
    max-width: 220px;
    height: 100%;
    padding: 20px 0 40px;
    box-sizing: border-box;
    position: relative;

    .title-section {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        height: 80px;
        align-items: center;
        padding: 0 40px 0;
        color: white;
        text-decoration: none;
        transition: opacity .15s;

        .number {
            font-family: 'industry';
            font-size: 29px;
            font-weight: 600;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 4px;
        }
        .title {
            font-weight: 200;
            font-size: 12px;
            flex-grow: 1;
            margin-top: 6px;
        }
    }
    .title-section:hover {
        opacity: .6;
    }
    .title-section:active {
        opacity: .4;
    }

    .links {
        flex-basis: 100%;
        flex-grow: 1;
        overflow-y: auto;

        .navigation-link {
            padding: 30px 40px;
            font-weight: 400;
            font-size: 18px;
            color: #FFF;
            text-decoration: none;
            display: block;
            transition: background-color .15s;
        }
    
        .navigation-link:hover:not(.active) {
            background-color: #6155BA;
        }
    
        .navigation-link.active {
            background-color: #7670CA;
            font-weight: 700;
        }
    }

    .footer-content {
        flex-grow: 0;
        flex-shrink: 0;
        padding: 18px 40px 0;
        box-sizing: border-box;
        font-size: 13px;
        font-weight: 300;
    }
}