@import url('../../assets/fonts/transandina/');
@import url('../../assets/fonts/usual/');
@import url('../../assets/fonts/industry/');

#app-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: relative;
}
#content-container {
    width: 100%;
    flex-grow: 1;
    min-width: 0;
}
#navigation-bar {
    display: flex;
    flex-direction: column;
    background: #4941B1;
    color: #FFF;
    width: 100%;
    max-width: 220px;
    height: 100%;
    padding: 20px 0 40px;
    box-sizing: border-box;
    position: relative;

    .title-section {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        height: 80px;
        align-items: center;
        padding: 0 40px 0;
        color: white;
        text-decoration: none;
        transition: opacity .15s;

        .number {
            font-family: 'industry';
            font-size: 29px;
            font-weight: 600;
            flex-grow: 0;
            flex-shrink: 0;
            margin-right: 4px;
        }
        .title {
            font-weight: 200;
            font-size: 12px;
            flex-grow: 1;
            margin-top: 6px;
        }
    }
    .title-section:hover {
        opacity: .6;
    }
    .title-section:active {
        opacity: .4;
    }

    .links {
        flex-basis: 100%;
        flex-grow: 1;
        overflow-y: auto;

        .navigation-link {
            padding: 30px 40px;
            font-weight: 400;
            font-size: 18px;
            color: #FFF;
            text-decoration: none;
            display: block;
            transition: background-color .15s;
            cursor: pointer;
            user-select: none;
        }
        .navigation-link:hover:not(.active) {
            background-color: #6155BA;
        }
        .navigation-link.active {
            background-color: #7670CA;
            font-weight: 700;
        }

        .link-group {
            transition: height .25s;
            overflow: hidden;
        }
        .sublink {
            padding: 20px 40px;
            height: 57px;
            box-sizing: border-box;
            font-size: 15px;
            background: #3e389b;
        }
    }

    .footer-content {
        flex-grow: 0;
        flex-shrink: 0;
        padding: 18px 40px 0;
        box-sizing: border-box;
        font-size: 13px;
        font-weight: 300;

        p {
            margin: 0;
        }
    }
}

#drawer-opener {
    position: absolute;
    display: none;
    top: 32px;
    left: 0;
    width: 48px;
    height: 48px;
    background-color: #4941B1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: left .2s;
    box-shadow: 0px 2px 14px rgba(255,255,255,0.65);
}

@media screen and (max-width: 850px) {
    #navigation-bar {
        position: absolute;
        z-index: 100;
        top: 0;
        bottom: 0;
        left: -220px;
        transition: left .2s;
    }

    #navigation-bar.opened {
        left: 0;
    }
    
    #drawer-opener {
        display: block;
        z-index: 99;

        .icon {
            box-sizing: border-box;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            top: 50%;
            left: 45%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity .3s;
            filter: invert(100%);

            &.visible {
                opacity: 1;
            }

            // Burger icon
            width: 32px;
            height: 32px;

            // X icon
            &.small {
                width: 22px;
                height: 22px;
            }
        }
    }

    #drawer-opener.opened {
        left: 220px;
    }

    #content-container {
        transition: filter .25s;
    }

    #content-container.hide {
        filter: blur(4px) grayscale(20%);
        pointer-events: none;
    }
}