@import url('../../assets/fonts/transandina/');

._PageHeader {
    width: 100%;
    padding: 24px 32px;
    box-sizing: border-box;

    h1 {
        font-family: 'transandina';
        font-size: 46px;
        font-weight: 700;
        margin: 0;
    }
}