._DialogBox {
    position: fixed;
    z-index: 200;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: background-color 200ms 1ms, visibility 0ms 0ms;
    background-color: rgba($color: #000000, $alpha: .7);
    visibility: visible;

    .dialog-box {
        width: calc(100vw - 32px);
        max-width: 700px;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 3px solid #4941B1;
        border-radius: 16px;
        padding: 32px 40px;
        background-color: white;
        transition: opacity 250ms 1ms, transform 250ms 1ms;

        .body-text {
            font-family: 'usual';
            text-align: center;
        }
        .button-area {
            display: flex;
            justify-content: center;
            gap: 8px;
            margin-top: 30px;
        }
    }
}

._DialogBox.hidden {
    background-color: rgba($color: #000000, $alpha: 0);
    visibility: hidden;
    transition: background-color 200ms 1ms, visibility 0ms 200ms;

    .dialog-box {
        opacity: 0;
        transform: translate(-50%, calc(-50% + 32px));
        transition: opacity 250ms 0ms, transform 250ms 0ms;
    }
}