@import url('../../assets/fonts/transandina/');

._EventCodeHolder {
    padding: 2px 4px;
    border-radius: 16px;
    background-color: #4941B1;
    color: white;
    font-family: 'transandina';
    font-size: 13px;
    font-weight: 600;
}