._ImageButton {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: filter .15s;
    width: 32px;
    height: 32px;
}

._ImageButton.white {
    filter: invert(100%);
}
._ImageButton.white:hover {
    filter: invert(70%) sepia(7%) saturate(2091%) hue-rotate(204deg) brightness(98%) contrast(81%);
}

._ImageButton.black {
    filter: invert(0%);
}
._ImageButton.black:hover {
    filter: invert(50%);
}
._ImageButton.black:active {
    filter: invert(20%);
}

._ImageButton.red {
    //#B14141
    filter: invert(27%) sepia(16%) saturate(6307%) hue-rotate(333deg) brightness(100%) contrast(80%);
}
._ImageButton.red:hover {
    //#D36E6E
    filter: invert(84%) sepia(54%) saturate(2698%) hue-rotate(302deg) brightness(78%) contrast(118%);
}
._ImageButton.red:active {
    //#C65B5B
    filter: invert(52%) sepia(51%) saturate(1221%) hue-rotate(321deg) brightness(83%) contrast(84%);
}